<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Reason for contacting OVM
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<!--start breadcrumb-->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container-fluid">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="../uk-claims-search-actual-cost">UK claims (Actual cost search)</a>
          </li>
          <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="../uk-claims-search-results-found">Search results</a>
          </li>
          <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="resubmissions">View Claim ID (Resubmissions)</a>
          </li>
          <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="treatments-within-resubmission">View Resub ID (Treatments linked to resub)</a>
          </li>
          <li class="nhsuk-breadcrumb__list-item">
            View details (Contact the OVM)
          </li>
        </ol>
      </div>
    </div>

    <a class="nhsuk-back-link" href="treatments-within-resubmission">
      <span class="nhsuk-u-visually-hidden">Back to </span>
      View Resub ID (Treatments linked to resub)
    </a>

  </div>
</nav>
<!--end breadcrumb-->
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">
        <div class="nhsuk-width-container-fluid">
          <div class="nhsuk-main-wrapper" id="maincontent">

            {% if data['treatment'] == 'Jane' %}
            {% set contestationData = data.contestation_reasons[data.treatment] %}
            <!-- Start of Jane Doe's treatment details for resub ID: 7824366 --->
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-one-half">
                <h1 class="nhsuk-heading-l" style="display:inline-block; margin-right:20px;">
                  Resub ID 7824366: Claim ID 345680<br>
                  (Treatment ID 387731) - Contact the OVM
                </h1>
              </div>

              <!-- Do not show these three buttons until the reason for contestation has been added. Hide the buttons again once the resub has been peer reviewed. -->
              {% if contestationData.reasons and contestationData.reasons | length > 0 and data.resubStatus not in ['peer-reviewed', 'resubmission-sent-to-dh', 'resubmission-completed'] %}
              <div class="nhsuk-grid-column-one-half" style="text-align: right;">
  
                <!-- Top two buttons side by side -->
                <div class="nhsuk-button-group" style="display: inline-flex;">
                  <a href="reasons-to-maintain-treatment-cost">
                    <button class="nhsuk-button nhsuk-button--secondary" type="submit">
                      Maintain<span class="nhsuk-u-visually-hidden"> treatment ID 387731 from claim ID 345680</span>
                    </button>
                  </a>
              
                  <a href="source-of-treatment-withdrawal">
                    <button class="nhsuk-button nhsuk-button--secondary" type="submit">
                      Withdraw<span class="nhsuk-u-visually-hidden"> treatment ID 387731 from claim ID 345680</span>
                    </button>
                  </a>

                  <a href="enter-maintained-treatment-dates">
                    <button class="nhsuk-button nhsuk-button--secondary" type="submit">
                      Partial<span class="nhsuk-u-visually-hidden"> treatment ID 387731 from claim ID 345680</span>
                    </button>
                  </a>
                </div>
                
              </div>
              {% endif %}


            </div>
            
            
            <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation" style="background-color:#f0f4f5;">
              <ul class="nhsuk-secondary-navigation__list">
                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" href="treatment-details?treatment=Jane">Treatment details</a>
                  <span class="nhsuk-u-visually-hidden">View details for treatment ID 387731</span>
                </li>
  
                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" href="treatment-reasons-for-contestation?treatment=Jane">Reason for contestation</a>
                  <span class="nhsuk-u-visually-hidden">View or add reason for contestation for treatment ID 387731</span>
                </li>
  
                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" aria-current="page" href="contact-ovm?treatment=Jane">OVM contact</a>
                  <span class="nhsuk-u-visually-hidden">View OVM contact details for treatment ID 387731</span>
                </li>
  
                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" href="request-prc?treatment=Jane">Request for a PRC</a>
                  <span class="nhsuk-u-visually-hidden">View request for a PRC for treatment ID 387731</span>
                </li>
  
                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" href="treatment-evidence?treatment=Jane">Evidence</a>
                  <span class="nhsuk-u-visually-hidden">View evidence for treatment ID 387731</span>
                </li>
  
                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" href="ovm-details?treatment=Jane">OVM details</a>
                  <span class="nhsuk-u-visually-hidden">View OVM details for treatment ID 387731</span>
                </li>
              </ul>
            </nav>
  
            <hr style="border-bottom:1px solid #ccc; margin:0">
            <!--end secondary navigation-->

            <br><br>

            <form action="contact-ovm" method="post">
            
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-two-thirds">

              {% if data['reason-to-contact-ovm-submitted'] == 'Yes' %}
              <h2 class="nhsuk-heading-m" id="OVM-contact-history-header">OVM contact history</h2>

              <h3 class="nhsuk-heading-s" id="enquiry-1-header">Enquiry 1</h2>

                <dl class="nhsuk-summary-list">
                  <div class="nhsuk-summary-list__row">
                     <dt class="nhsuk-summary-list__key" id="email-sent-date-label">Date request was sent to OVM</dt>
                     <dd class="nhsuk-summary-list__value" id="enquiry_0_email-sent-date">08/05/2026</dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key" id="email-sent-date-label">Email status</dt>
                    <dd class="nhsuk-summary-list__value" id="enquiry_0_email-sent-date"><strong class="nhsuk-tag nhsuk-tag--green">Delivered</strong></dd>
                 </div>
                  <div class="nhsuk-summary-list__row">
                     <dt class="nhsuk-summary-list__key" id="ovm-contacted-reasons-label">Information requested</dt>
                     <dd class="nhsuk-summary-list__value">
                    {% set contactOVMReasons = data['reasons-to-contact-ovm'] %}

                     {% if contactOVMReasons %}
                       <ol class="nhsuk-list nhsuk-list--number">
                         {% if contactOVMReasons is string %}
                           <li>{{ contactOVMReasons }}</li>
                         {% else %}
                           {% for contactOVMReasons in contactOVMReasons %}
                             <li>{{ contactOVMReasons }}</li>
                           {% endfor %}
                         {% endif %}
                       </ol>
                     {% else %}
                       1. Confirmation of whether this is a duplicate treatment or not<br>
                       (Duplicate treatment ID: 123456)
                     {% endif %}
                     </dd>
                  </div>
               </dl>

               {% if data['ovm-response-submitted'] == 'Yes' %}
                <dl class="nhsuk-summary-list" style="margin-bottom: 60px;">
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key" id="email-sent-date-label">Date response was received</dt>
                    <dd class="nhsuk-summary-list__value" id="enquiry_0_email-sent-date">11/05/2026</dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key" id="dynamics-email-reference-label">Dynamics email reference number</dt>
                    <dd class="nhsuk-summary-list__value" id="dynamics-email-reference-value">
                      {% if data['ovm-response-dynamics-ref'] %}
                        {{ data['ovm-response-dynamics-ref'] }}
                      {% else %}
                        23783993
                      {% endif %}
                    </dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key" id="ovm-contacted-reasons-label">Response from OVM</dt>
                    <dd class="nhsuk-summary-list__value">
                    {% set ovmResponse = data['ovm-response-received'] %}

                    {% if ovmResponse %}
                      <ol class="nhsuk-list nhsuk-list--number">
                        {% if ovmResponse is string %}
                          <li>{{ ovmResponse }}</li>
                        {% else %}
                          {% for ovmResponse in ovmResponse %}
                            <li>{{ ovmResponse }}</li>
                          {% endfor %}
                        {% endif %}
                      </ol>
                    {% else %}
                      1. Confirmation that this is not a duplicate treatment
                    {% endif %}
                    </dd>
                  </div>
                </dl>

                
                <!-- If a second enquiry was sent -->
                {% if data['more-details-required-from-ovm'] == 'Yes' %}
                <h3 class="nhsuk-heading-s" id="enquiry-2-header">Enquiry 2</h2>

                  <dl class="nhsuk-summary-list">
                    <div class="nhsuk-summary-list__row">
                       <dt class="nhsuk-summary-list__key" id="email-sent-date-label">Date request was sent to OVM</dt>
                       <dd class="nhsuk-summary-list__value" id="enquiry_0_email-sent-date">14/05/2026</dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key" id="email-sent-date-label">Email status</dt>
                      <dd class="nhsuk-summary-list__value" id="enquiry_0_email-sent-date"><strong class="nhsuk-tag nhsuk-tag--yellow">Delivering</strong></dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                       <dt class="nhsuk-summary-list__key" id="ovm-contacted-reasons-label">Information requested</dt>
                       <dd class="nhsuk-summary-list__value">
                        {% set contactOVMReasons = data['reasons-to-contact-ovm'] %}

                        {% if contactOVMReasons %}
                          <ol class="nhsuk-list nhsuk-list--number">
                            {% if contactOVMReasons is string %}
                              <li>{{ contactOVMReasons }}</li>
                            {% else %}
                              {% for reason in contactOVMReasons %}
                                <li>{{ reason }}</li>
                              {% endfor %}
                            {% endif %}
                          </ol>
                        {% else %}
                          1. Confirmation of whether this is a duplicate treatment or not<br>
                          (Duplicate treatment ID: 123456)
                        {% endif %}
                       </dd>
                    </div>
                 </dl>

                    {% if data['second-response-received'] == 'Yes' %}
                    <a href="/version-46/uk-claims/actual-costs/ovm-response">
                      <button class="nhsuk-button" style="margin-top: 30px;" type="button" id="response-received-from-ovm-button">
                        Request information from the OVM
                      </button>
                    </a>
                    {% else %}
                    <a href="/version-46/uk-claims/actual-costs/ovm-response?second-response-received=Yes">
                      <button class="nhsuk-button" style="margin-top: 30px;" type="button" id="response-received-from-ovm-button">
                        Response received from OVM
                      </button>
                    </a>
                    {% endif %}
                {% endif %}

               {% else %}
                <a href="/version-46/uk-claims/actual-costs/ovm-response">
                  <button class="nhsuk-button" style="margin-top: 30px;" type="button" id="response-received-from-ovm-button">
                    Response received from OVM
                  </button>
                </a>
               {% endif %}

              

              {% else %}
              <h2 class="nhsuk-heading-m" id="reason-to-contact-ovm-header">What do you need to request from the Overseas Visitor Manager (OVM)?</h2>
                
              <span class="nhsuk-hint" style="margin-top: -9px;">Select all that apply. All requests will be added to the automatic email sent to the OVM.</span>
                    
                    
              <div class="nhsuk-checkboxes nhsuk-checkboxes--conditional" data-module="nhsuk-checkboxes" style="margin-top: 20px;">

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="breakdown-of-costs" name="reasons-to-contact-ovm" type="checkbox" value="A breakdown of costs">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="breakdown-of-costs">
                    A breakdown of costs
                  </label>
                </div>
              
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="copy-of-entitlement-needed" name="reasons-to-contact-ovm" type="checkbox" value="A copy of the entitlement">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="copy-of-entitlement-needed">
                    A copy of the entitlement
                  </label>
                </div>
              
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="confirmation-of-treatment-dates" name="reasons-to-contact-ovm" type="checkbox" value="Confirmation of the treatment dates">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="confirmation-of-treatment-dates">
                    Confirmation of the treatment dates
                  </label>
                </div>
              
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="confirmation-of-duplicate-treatment" name="reasons-to-contact-ovm" type="checkbox" value="Confirmation of whether this is a duplicate treatment or not" data-aria-controls="conditional-duplicate">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="confirmation-of-duplicate-treatment">
                    Confirmation of whether this is a duplicate treatment or not
                  </label>
                </div>
              
                <!-- Conditional input -->
                <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="conditional-duplicate">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="duplicate-treatment-id">
                      Enter duplicate treatment ID
                    </label>
                    <input class="nhsuk-input nhsuk-u-width-two-thirds" id="duplicate-treatment-id" name="duplicate-treatment-id" type="text">
                  </div>
                </div>
              
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="confirmation-costs-are-correct" name="reasons-to-contact-ovm" type="checkbox" value="Confirmation that the costs are correct">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="confirmation-costs-are-correct">
                    Confirmation that the costs are correct
                  </label>
                </div>
              
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="other" name="reasons-to-contact-ovm" type="checkbox" value="Other" data-aria-controls="conditional-other">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="other">
                    Other
                  </label>
                </div>
                <!-- Conditional textarea -->
                <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="conditional-other">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="otherContactOVMReasonComments">
                      Enter details
                    </label>
                    <textarea class="nhsuk-textarea" id="otherContactOVMReasonComments" name="other-reason-to-contact-ovm-comments" rows="5" maxlength="500"></textarea>
                  </div>
                </div>
              
              </div>
              
                
              <button class="nhsuk-button" style="margin-top: 30px;" type="submit">Save and submit</button>
              {% endif %}
              
            </form>
            <!-- End of main content-->
            {% endif %}

              
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
<style>
  .nhsuk-summary-list__key {
    font-size: 19px;
    font-weight: bold;
  }
</style>

<script>
  const textarea = document.querySelector('#otherContestedReason');
  const countRemaining = document.getElementById('charactersRemaining');
  const staticMsg = document.querySelector('#char-count-screen-reader');
  const maxCharacters = 255;
  let timeoutId;

  function updateCharacterCount() {
    const textEntered = textarea.value;
    const newLines = textEntered.match(/(\r\n|\n|\r)/g);
    const addition = newLines?.length || 0;
    const remainingCharacters = maxCharacters - textEntered.length + addition - (newLines?.length || 0);

    if (remainingCharacters >= 0) {
      countRemaining.textContent = `You have ${remainingCharacters} character${remainingCharacters === 1 ? '' : 's'} remaining`;
      countRemaining.classList.remove('nhsbsa-count-error-message');
      countRemaining.classList.add('nhsuk-hint');
      textarea.classList.remove('nhsuk-textarea--error');
    } else {
      countRemaining.textContent = `You have ${Math.abs(remainingCharacters)} character${Math.abs(remainingCharacters) === 1 ? '' : 's'} too many`;
      countRemaining.classList.add('nhsbsa-count-error-message');
      countRemaining.classList.remove('nhsuk-hint');
      textarea.classList.add('nhsuk-textarea--error');
    }
  }

  function updateScreenReaderMessage() {
    clearTimeout(timeoutId);
    timeoutId = setTimeout(() => {
      const textEntered = textarea.value;
      const newLines = textEntered.match(/(\r\n|\n|\r)/g);
      const addition = newLines?.length || 0;
      const remainingCharacters = maxCharacters - textEntered.length + addition - (newLines?.length || 0);
      // TO DO ADD FIX FOR 1 CHARACTER
      if (remainingCharacters < 0) {
        staticMsg.textContent = `You have ${Math.abs(remainingCharacters)} character${Math.abs(remainingCharacters) === 1 ? '' : 's'} too many`;
      } else {
        staticMsg.textContent = `You have ${remainingCharacters} character${remainingCharacters === 1 ? '' : 's'} remaining`;
      }
    }, 1000);
  }

  textarea.addEventListener('input', () => {
    updateCharacterCount();
    updateScreenReaderMessage();
  });

  // Update character count if textarea has a value on page load
  window.addEventListener('load', () => {
    updateCharacterCount();
    updateScreenReaderMessage();
  });
</script>
{% endblock %}