<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
UK claim ID 123456 - Claim summary
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<!--start breadcrumb-->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container-fluid">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="../uk-claims-search-actual-cost">UK claims (Search)</a>
          </li>
          <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="../uk-claims-search-results-found">Search results</a>
          </li>
          <li class="nhsuk-breadcrumb__list-item">View Claim ID (Claim summary)</li>
        </ol>
      </div>
    </div>

    <a class="nhsuk-back-link" href="uk-claims-search-results">
      <span class="nhsuk-u-visually-hidden">Back to </span>
      Search results
    </a>

  </div>
</nav>
<!--end breadcrumb-->
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">
        <div class="nhsuk-width-container-fluid">
          <div class="nhsuk-main-wrapper" id="maincontent">

            
            <div class="nhsuk-grid-row">   
              <div class="nhsuk-grid-column-one-half">
                <h1 class="nhsuk-heading-l">Claim ID 123456 - Claim summary for<br>S1/S072 Article 63, 2.b - 65 years and over</h1>
              </div>
            </div>

            
          <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation" style="background-color:#f0f4f5;">
            <ul class="nhsuk-secondary-navigation__list">
              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" aria-current="page" href="claim-summary">Claim summary</a>
                <span class="nhsuk-u-visually-hidden">View the overall summary for claim 123456</span>
              </li>

              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" href="claim-invoices">Invoices</a>
                <span class="nhsuk-u-visually-hidden">Search for an invoice</span>
              </li>

              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" href="claim-documents">Claim documents</a>
                <span class="nhsuk-u-visually-hidden">Complete any outstanding actions</span>
              </li>

              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" href="claim-resubmissions">Resubmissions</a>
                <span class="nhsuk-u-visually-hidden">Complete any outstanding actions</span>
              </li>

              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" href="claim-history">Claim history</a>
                <span class="nhsuk-u-visually-hidden">View case history for claim 123456</span>
              </li>
            </ul>
          </nav>

          <hr style="border-bottom:1px solid #ccc; margin:0">
          <!--end secondary navigation-->

          <br><br>
          
            <!-- Beginning of Main claim summary content -->
            <div class="nhsuk-grid-row">
              <!-- Left panel begins -->
              <div class="nhsuk-grid-column-one-half">
                <div class="nhsuk-card">
                  <div class="nhsuk-card__content">
                    <dl class="nhsuk-summary-list">

                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Date claim generated
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          20 August 2026
                        </dd>
                      </div>
  
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Year of claim
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          2025
                        </dd>
                      </div>
  
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Claim type
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          Main
                        </dd>
                      </div>
  
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Article type
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          Article 63, 2.b
                        </dd>
                      </div>

                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Age bracket
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          65 years and over
                        </dd>
                      </div>
  
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Country
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          France (FR)
                        </dd>
                      </div>
  
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Original number of invoices claimed
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          50 invoices
                        </dd>
                      </div>
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Original total months claimed
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          500 months
                        </dd>
                      </div>
                    </dl>
                  </div>
                </div>
                      
                {% if data['resubStatus'] == 'resubmission-completed' %}
                <div class="nhsuk-card">
                  <div class="nhsuk-card__content">
                    <dl class="nhsuk-summary-list">
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Number of invoices contested
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          2 invoices
                        </dd>
                      </div>
                      
                      <br>

                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Total number of maintained months
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          1 months
                        </dd>
                      </div>

                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Total number of withdrawn months
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          6 months
                        </dd>
                      </div>

                      <br>

                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Remaining total number of months
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          494 months
                        </dd>
                      </div>
                  </dl>
                </div>
              </div>
              {% endif %}

              
            </div>
              <!-- End of left-hand panels -->

            
            <!-- Start of Details of claim panel -->
            <div class="nhsuk-grid-column-one-half">
              <div class="nhsuk-card">
                <div class="nhsuk-card__content">

                  <fieldset class="nhsuk-fieldset">
                    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                      <h2 class="nhsuk-heading-s">
                        Enter details of the claim
                      </h2>
                    </legend>

                    <div class="nhsuk-inset-text" style="margin-top: 10px;" >
                      <span class="nhsuk-u-visually-hidden">Information: </span>
                      <p>You must enter all the dates to complete the claim. However, you can save these details and come back and enter the dates later.</p>
                    </div>


                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label" for="call-no">
                          <b>What date was the claim sent to the member state?</b>
                        </label>
                        <div class="nhsuk-hint">
                          For example, 31 3 2022
                        </div>

                        <div class="nhsuk-date-input" id="date-claim-sent">
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                              <label class="nhsuk-label nhsuk-date-input__label" for="date-claim-sent-day">
                                Day
                              </label>
                              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="date-claim-sent-day" name="date-claim-sent-day" type="text" pattern="[0-9]*" inputmode="numeric" value="20">
                            </div>
                          </div>
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                              <label class="nhsuk-label nhsuk-date-input__label" for="date-claim-sent-month">
                                Month
                              </label>
                              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="date-claim-sent-month" name="date-claim-sent-month" type="text" pattern="[0-9]*" inputmode="numeric" value="08">
                            </div>
                          </div>
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                              <label class="nhsuk-label nhsuk-date-input__label" for="date-claim-sent-year">
                                Year
                              </label>
                              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="date-claim-sent-year" name="date-claim-sent-year" type="text" pattern="[0-9]*" inputmode="numeric" value="2026">
                            </div>
                          </div>
                        </div>

                      </div>

                      <div class="nhsuk-form-group" style="margin-top: 30px;">
                        <label class="nhsuk-label" for="claim-sent-by-label">
                         <b>Name of the person sending the claim</b>
                        </label>
                        <input class="nhsuk-input nhsuk-input--width-20" id="claim-sent-by" name="claim-sent-by" type="text" value="Nina Evans">
                      </div>

                      <label class="nhsuk-label" style="margin-top: 30px;">
                        <b>How was the claim sent to the member state?</b>
                      </label>

                      <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="claim-sent-by-post" name="claim-sent-by" type="radio" value="Post" checked>
                        <label class="nhsuk-label nhsuk-radios__label" for="claim-sent-by-post">
                          Post
                        </label>
                      </div>

                      <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="claim-sent-by-rina" name="claim-sent-by" type="radio" value="RINA">
                        <label class="nhsuk-label nhsuk-radios__label" for="claim-sent-by-rina">
                          RINA
                        </label>
                      </div>

                      <div class="nhsuk-form-group" style="margin-top: 30px;">
                        <label class="nhsuk-label" for="completion-date">
                          <b>RINA reference number</b>
                        </label>

                        <input class="nhsuk-input nhsuk-input--width-20" id="rina-claim-rina-ref-no" name="rina-claim-rina-ref-no" type="text" value="100005789111">
                      </div>


                      <hr>


                      <div class="nhsuk-form-group" style="margin-top: 30px;">
                        <label class="nhsuk-label" for="date-s100-global-note-uploaded-label">
                          <b>What date was the S100 Global note uploaded to the DH eXchange?</b>
                        </label>

                        <div class="nhsuk-date-input" id="date-s100-global-note-uploaded">
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                              <label class="nhsuk-label nhsuk-date-input__label" for="date-s100-global-note-uploaded-day">
                                Day
                              </label>
                              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="date-s100-global-note-uploaded-day" name="date-s100-global-note-uploaded-day" type="text" pattern="[0-9]*" inputmode="numeric" value="24">
                            </div>
                          </div>
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                              <label class="nhsuk-label nhsuk-date-input__label" for="date-s100-global-note-uploaded-month">
                                Month
                              </label>
                              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="date-s100-global-note-uploaded-month" name="date-s100-global-note-uploaded-month" type="text" pattern="[0-9]*" inputmode="numeric" value="08">
                            </div>
                          </div>
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                              <label class="nhsuk-label nhsuk-date-input__label" for="date-s100-global-note-uploaded-year">
                                Year
                              </label>
                              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="date-s100-global-note-uploaded-year" name="date-s100-global-note-uploaded-year" type="text" pattern="[0-9]*" inputmode="numeric" value="2026">
                            </div>
                          </div>
                        </div>

                      </div>

                      <div class="nhsuk-form-group" style="margin-top: 30px;">
                        <label class="nhsuk-label" for="s100-uploaded-by">
                          <b>Who uploaded the S100 global note to the DH eXchange?</b>
                        </label>
                        <!-- <div class="nhsuk-hint">
                        The name of the person who uploaded on DH eXchange
                      </div> -->
                        <input class="nhsuk-input nhsuk-input--width-20" id="s100-uploaded-by" name="s100-uploaded-by" type="text" value="Nina Evans">
                      </div>


                      <hr>


                      <div class="nhsuk-form-group" style="margin-top: 30px;">
                        <label class="nhsuk-label" for="call-no">
                          <b>When were the claim documents delivered to the member state?</b>
                        </label>

                        <div class="nhsuk-date-input" id="date-claim-documents-delivered-to-ms">
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                              <label class="nhsuk-label nhsuk-date-input__label" for="date-claim-documents-delivered-to-ms-day">
                                Day
                              </label>
                              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="date-claim-documents-delivered-to-ms-day" name="date-claim-documents-delivered-to-ms-day" type="text" pattern="[0-9]*" inputmode="numeric" value="20">
                            </div>
                          </div>
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                              <label class="nhsuk-label nhsuk-date-input__label" for="date-claim-documents-delivered-to-ms-month">
                                Month
                              </label>
                              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="date-claim-documents-delivered-to-ms-month" name="date-claim-documents-delivered-to-ms-month" type="text" pattern="[0-9]*" inputmode="numeric" value="08">
                            </div>
                          </div>
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                              <label class="nhsuk-label nhsuk-date-input__label" for="date-claim-documents-delivered-to-ms-year">
                                Year
                              </label>
                              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="date-claim-documents-delivered-to-ms-year" name="date-claim-documents-delivered-to-ms-year" type="text" pattern="[0-9]*" inputmode="numeric" value="2026">
                            </div>
                          </div>
                        </div>

                      </div>

                      <div class="nhsuk-form-group" style="margin-top: 30px;">
                        <label class="nhsuk-label" for="call-no">
                          <b>When did the member state acknowledge the claim documents?</b>
                        </label>
                        <div class="nhsuk-hint">
                          This date can be found on the acknowledgement letter.
                        </div>

                        <div class="nhsuk-date-input" id="date-claim-documents-acknowledged-by-ms">
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                              <label class="nhsuk-label nhsuk-date-input__label" for="date-claim-documents-acknowledged-by-day">
                                Day
                              </label>
                              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="date-claim-documents-acknowledged-by-ms-day" name="date-claim-documents-acknowledged-by-ms-day" type="text" pattern="[0-9]*" inputmode="numeric" value="24">
                            </div>
                          </div>
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                              <label class="nhsuk-label nhsuk-date-input__label" for="date-claim-documents-acknowledged-by-ms-month">
                                Month
                              </label>
                              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="date-claim-documents-acknowledged-by-ms-month" name="date-claim-documents-acknowledged-byo-ms-month" type="text" pattern="[0-9]*" inputmode="numeric" value="08">
                            </div>
                          </div>
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                              <label class="nhsuk-label nhsuk-date-input__label" for="date-claim-documents-acknowledged-by-ms-year">
                                Year
                              </label>
                              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="date-claim-documents-acknowledged-by-ms-year" name="date-claim-documents-acknowledged-by-ms-year" type="text" pattern="[0-9]*" inputmode="numeric" value="2026">
                            </div>
                          </div>
                        </div>

                      </div>

                  </fieldset>

                  <div class="button-container">
                  <div class="action-buttons">
                    <a class="nhsuk-button style=padding-right:10px;" id="save-claim-summary-button" href="claim-summary" style="margin-right:20px; margin-top: 20px;">Save claim summary</a>
                    <button class="nhsuk-button nhsuk-button--secondary" style="margin-top: 20px;" type="submit" id="editButton" name="action" value="editClaimSummary">Edit claim summary</button>
                  </div>
                  </div>

                </div>
              </div>

            </div>
          </div>
        <!-- End of Details of claim panel -->


        
              
           </div>
          </div>

    </div>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script>
document.addEventListener("DOMContentLoaded", function () {
    const savedDetails = JSON.parse(localStorage.getItem("claimHistory"));

    if (savedDetails) {
        console.log("Loaded Claim History:", savedDetails);

        // Only display "Sent to Member State" if dateClaimSent exists
        if (savedDetails.dateClaimSent && savedDetails.dateClaimSent !== "Not provided") {
            document.getElementById("displayClaimSentDate").textContent = savedDetails.dateClaimSent;
            document.getElementById("currentDateS1ClaimSentToMS").textContent = getCurrentDateTime();
            document.querySelector("#currentDateS1ClaimSentToMS").closest("tr").style.display = "table-row";
        }

        // Only display "Sent to DH" if dateS100Uploaded exists
        if (savedDetails.dateS100Uploaded && savedDetails.dateS100Uploaded !== "Not provided") {
            document.getElementById("displayS100UploadedDate").textContent = savedDetails.dateS100Uploaded;
            document.getElementById("currentDateS1ClaimSentToDH").textContent = getCurrentDateTime();
            document.querySelector("#currentDateS1ClaimSentToDH").closest("tr").style.display = "table-row";
        }

        // Always display "Created" log entry
        document.getElementById("currentDateS1ClaimCreated").textContent = getCurrentDateTime();
    } else {
        console.log("No claim history found in localStorage.");
    }

    // Helper function to get formatted date and time
    function getCurrentDateTime() {
        const currentDate = new Date();
        const day = String(currentDate.getDate()).padStart(2, '0');
        const month = String(currentDate.getMonth() + 1).padStart(2, '0');
        const year = currentDate.getFullYear();
        const hours = String(currentDate.getHours()).padStart(2, '0');
        const minutes = String(currentDate.getMinutes()).padStart(2, '0');
        return `${day}/${month}/${year} ${hours}:${minutes}`;
    }
});
</script>
{% endblock %}